<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
    <li>
        <a href="index.html">Introduction</a>
    </li>
    <li class="dropdown">
        <a href="generic-personas.html">Generic Personas</a>
    </li>
    <li class="dropdown">
        <a href="user-scenarios.html">User Scenarios</a>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="business-processes-and-workflows.html"
            class="dropdown-toggle">Business Processes &#38; Workflows<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="overview-of-key-hiv-business-processes.html">Overview of Key HIV Business
                    Processes</a>
            </li>
            <li>
                <a href="workflows.html">Workflows</a>
            </li>
        </ul>
    </li>


</ul>