<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
    <li class="dropdowm">
        <a href="index.html">Home</a>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="business-requirements.html" class="dropdown-toggle">Business Requirements<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="concepts.html">Concepts</a>
            </li>
            <li>
                <a href="generic-personas.html">Generic Personas</a>
            </li>
            <li>
                <a href="user-scenarios.html">User Scenarios</a>
            </li>
            <li>
                <a href="business-processes.html">Business Processes</a>
            </li>
            <li>
                <a href="core-data-elements.html">Core Data Elements</a>
            </li>
            <li>
                <a href="decision-support-logic.html">Decision Support Logic</a>
            </li>
            <li>
                <a href="indicators-and-monitoring.html">Indicators and Monitoring</a>
            </li>
            <li>
                <a href="functional-requirements.html">Functional Requirements</a>
            </li>
            <li>
                <a href="non-functional-requirements.html">Non-Functional Requirements</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="deployment.html">Indices<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="artifacts.html">Artifact Index</a>
            </li>
        </ul>
    </li>
</ul>